{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="text-center mt-4">
        <h1>Анализ информационного противоборства</h1>
        <p>Данный сайт представляет возможность анализировать текст на наличие в нем информационного противоборства. 
            На сайте во вкладке Анализ предоставляется возможность взаимодействовать с разными моделями глубоко обучения, которые были натренированы на сообщениях из новых медиа. 
            У вас также есть возможность доубичить модель, используя конпки, или открытый API. 
            Вы можете использовать данные сервис в рамках автоматизированного мониторинга с помощью открытого API.
        </p>
        <p class="fst-italic">Данный сайт разработан в рамках Курсовой работы МГТУ им. Н.Э. Баумана студентом Алексеевом Леонидом факультета Социальные Гумманитарные Науки.</p>
    </div>
</div>


{% endblock content %}